@model List<Learn_ASP.Models.Item>
@{
	ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>Rp. @item.Price.ToString("N2")</td>
				<td>
					<a asp-action="Edit"
						asp-route-id="@item.Id">
						Edit
					</a>
					<a asp-action="Delete"
						asp-route-id="@item.Id">
					 	Delete
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>